#heading {
	z-index:1;
	position:relative;
	text-align:center;
	padding-top:20vh;
	font-size: 80%;

}

#heading h1{
	font-size: 7em !important;
}


#heading button{
	font-size: 2em !important;
}

#heading button a{
	color: inherit;
}


#lower-main{
	min-height: 500px;
	background-image: url(https://pre00.deviantart.net/d996/th/pre/i/2013/294/3/1/kitty_cat__by_randomrobskii-d6rcahg.png);
	background-repeat: no-repeat;
	background-position: top;
	background-size: 300px;
}

#main-content, #lower-main{
	background-color: #ffa64d;
}
