body,html{
    height: 100%;
    overflow-y: hidden;
}

.ui.menu{
    font-family: Coda, sans-serif;
}

nav {
    position: relative;
    z-index: 1;
}

nav .item{
    color:white !important;
    font-size: 1.25em !important;
    font-weight: bold !important;
    text-shadow:0px 4px 3px rgba(0,0,0,1),0px 8px 13px rgba(0,0,0,0.1),0 18px 23px rgba(0,0,0,0.1);
}

main{
    text-shadow: 6px 6px 3px rgba(0,0,0,1),0px 8px 13px rgba(0,0,0,0.4),0 18px 23px rgba(0,0,0,0.1);
    test-align:center;
    min-height: 80%;
}

.ui.secondary.menu form input{
    outline: none;
}

.ui.secondary.menu form input{
    cursor:pointer;
}

.ui.secondary.menu .item, #heading button{
    transition: all .2s ease-in-out !important;
}

.ui.secondary.menu .item,.ui.secondary.menu form input{
    border-bottom: 6px solid transparent;
}


.ui.secondary.menu .item:hover,.ui.secondary.menu form input {
    border-bottom: 6px solid white;
    background: transparent !important;
}


body{
    background: black;
}

#heading {
    z-index:1;
    position:relative;
    text-align:center;
    padding-top:35vh;
    color: white;
}

#heading h1{
    font-size: 5em !important;
}

#heading button{
    font-size: 1.5em !important;
}

#heading button a{
   color: inherit;
    font-family: Coda, sans-serif;
}

.slideshow{
    position:fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left:0;
    z-index: 0;
    list-style-type: none;
    margin:0;
    padding:0;
}

.slideshow li{
    width: 100%;
    height: 100%;
    position:absolute;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    opacity: 0;
    animation:imageAnimation 50s linear infinite;
}

.slideshow li:nth-child(1) {
    background-image: url(/images/dog4.jpg)
}
.slideshow li:nth-child(2) {
    background-image: url(/images/westi.jpg);
    animation-delay: 10s;
}
.slideshow li:nth-child(3) {
    background-image: url(/images/dogs.jpg);
    animation-delay: 20s;
}
.slideshow li:nth-child(4) {
    background-image: url(/images/horses.jpg);
    animation-delay: 30s;
}
.slideshow li:nth-child(5) {
    background-image: url(/images/cockatoo.jpg);
    animation-delay: 40s;
}

@keyframes imageAnimation {
    0% {
        opacity: 0;
        animation-timing-function: ease-in;
    }
    10% {
        opacity: 1;
        animation-timing-function: ease-out;
    }
    20% {
        opacity: 1
    }
    30% {
        opacity: 0
    }
}

/* Older browser support - .no-cssanimations class added by modernizr */
.no-cssanimations .slideshow li {
    opacity: 1;
}