.ui .segments{
	background: white;
}

#main-div{
	background-color: #ecf0f1;
	min-height: 810px;
	margin-bottom: -8px;
	border: none !important;
}

.ui.segments.card-holder{
	min-height: 625px;
	max-height: 625px;
	overflow-x: hidden;
	overflow-y: auto;

}

.ui.fluid.accordion{
	margin-top: -10px;
	margin-bottom: -10px;
}

.ui.fluid.accordion .content{
	margin-top: -10px;
	margin-bottom: 3px;
}

.card{
	min-width: 100%;
}

#col1,#col2,#col3{
	background-color: #ecf0f1;

}

.ui.inverted.vertical.footer.segment{
	margin-top: 0px;
}

.ui.bottom.fluid.attached.submit.button{

	max-width: 97%;
}

.ui.cards .card{
	margin-bottom: -5px;

}

#sidebarHeader{
	text-align: center;
	color: white;
	padding-top: 10px;
}
