.ui .segments{
	background: white;
}

.three.column.grid#main-grid{
	background: #ecf0f1 !important;
}
#main-div{
	background: #ecf0f1 !important;
	min-height: 810px;
}
#scrolling{
	min-height: 650px;
	overflow: scroll;
	overflow-x: hidden;
}

.card{
	min-width: 97.1%;
	
}

.ui.stackable.three.column.grid, .column{
	border: none;
	border-color: green;

}

.ui.inverted.vertical.footer.segment{
	margin-top: 0px;
}

.ui.bottom.fluid.attached.submit.button{
	background-color: #1f88be;
}
.ui.bottom.fluid.attached.submit.button{
	color: white;
}
.ui.bottom.fluid.attached.submit.button:hover{
	color:	#e0e1e2;
	background-color: #11648e;
}

.ui.cards>.card{
	margin-bottom: -5px;
	background-color: #e0e1e2;

}